# Fetching the journeys data for analysis

Download the CSV data from TfL, and save in a GeoPandas geodataframe.

In [17]:
# Converts journeys into geometry

import os
import csv
import json
import urllib.request
from requests import get

import pandas as pd
import geopandas as gpd

In [11]:
# set paths
DL_path = "data/cycles/DL_data"
points_path = "data/cycles/points"
points_fn = "BikePoints.geojson"
journeys_path = "data/cycles/journeys"

# set source URL and filename
source_url = "https://cycling.data.tfl.gov.uk/usage-stats/"
source_fn = [
    "346JourneyDataExtract28Nov2022-04Dec2022.csv",
    "347JourneyDataExtract05Dec2022-11Dec2022.csv",
    "348JourneyDataExtract12Dec2022-18Dec2022.csv",
    "349JourneyDataExtract19Dec2022-25Dec2022.csv",
    "350JourneyDataExtract26Dec2022-01Jan2023.csv",
    "351JourneyDataExtract02Jan2023-08Jan2023.csv",
    "352JourneyDataExtract09Jan2023-15Jan2023.csv",
    "353JourneyDataExtract16Jan2023-22Jan2023.csv",
    "354JourneyDataExtract23Jan2023-29Jan2023.csv",
    "355JourneyDataExtract30Jan2023-05Feb2023.csv",
    "356JourneyDataExtract06Feb2023-12Feb2023.csv",
    "357JourneyDataExtract13Feb2023-19Feb2023.csv",
    "358JourneyDataExtract20Feb2023-26Feb2023.csv",
    "359JourneyDataExtract27Feb2023-05Mar2023.csv",
    "360JourneyDataExtract06Mar2023-12Mar2023.csv",
    "361JourneyDataExtract13Mar2023-19Mar2023.csv",
    "362JourneyDataExtract20Mar2023-26Mar2023.csv",
    "363JourneyDataExtract27Mar2023-02Apr2023.csv",
    "364JourneyDataExtract03Apr2023-09Apr2023.csv",
    "365JourneyDataExtract10Apr2023-16Apr2023.csv",
    "366JourneyDataExtract17Apr2023-23Apr2023.csv",
    "367JourneyDataExtract24Apr2023-30Apr2023.csv",
    "368JourneyDataExtract01May2023-07May2023.csv",
    "369JourneyDataExtract08May2023-14May2023.csv",
    "370JourneyDataExtract15May2023-21May2023.csv",
    "371JourneyDataExtract22May2023-28May2023.csv",
    "372JourneyDataExtract29May2023-04Jun2023.csv",
    "373JourneyDataExtract05Jun2023-11Jun2023.csv",
    "374JourneyDataExtract12Jun2023-18Jun2023.csv",
    "375JourneyDataExtract19Jun2023-30Jun2023.csv",
    "376JourneyDataExtract01Jul2023-14Jul2023.csv",
    "377JourneyDataExtract15Jul2023-31Jul2023.csv",
    "378JourneyDataExtract01Aug2023-14Aug2023.csv",
    "378JourneyDataExtract15Aug2023-31Aug2023.csv",
    "379JourneyDataExtract01Sep2023-14Sep2023.csv",
    "380JourneyDataExtract15Sep2023-30Sep2023.csv",
    "381JourneyDataExtract01Oct2023-14Oct2023.csv",
    "382JourneyDataExtract15Oct2023-31Oct2023.csv",
    "383JourneyDataExtract01Nov2023-14Nov2023.csv",
    "384JourneyDataExtract15Nov2023-30Nov2023.csv"
]

In [12]:
# download journeys

# creates saving directory if does not exist
if not os.path.exists(journeys_path):
    os.makedirs(journeys_path)


for fn in source_fn:
    # check if local exists
    if not os.path.exists(os.path.join(journeys_path, fn)):
        source = source_url + fn
        print(f"Downloading   : {fn}")
        with open(os.path.join(journeys_path, fn), "wb") as file:
            response = get(source)
            file.write(response.content)
    else:
        print(f"Found in local: {fn}")

print('Done')

Found in local: 346JourneyDataExtract28Nov2022-04Dec2022.csv
Found in local: 347JourneyDataExtract05Dec2022-11Dec2022.csv
Found in local: 348JourneyDataExtract12Dec2022-18Dec2022.csv
Found in local: 349JourneyDataExtract19Dec2022-25Dec2022.csv
Found in local: 350JourneyDataExtract26Dec2022-01Jan2023.csv
Found in local: 351JourneyDataExtract02Jan2023-08Jan2023.csv
Found in local: 352JourneyDataExtract09Jan2023-15Jan2023.csv
Found in local: 353JourneyDataExtract16Jan2023-22Jan2023.csv
Found in local: 354JourneyDataExtract23Jan2023-29Jan2023.csv
Found in local: 355JourneyDataExtract30Jan2023-05Feb2023.csv
Found in local: 356JourneyDataExtract06Feb2023-12Feb2023.csv
Found in local: 357JourneyDataExtract13Feb2023-19Feb2023.csv
Found in local: 358JourneyDataExtract20Feb2023-26Feb2023.csv
Found in local: 359JourneyDataExtract27Feb2023-05Mar2023.csv
Found in local: 360JourneyDataExtract06Mar2023-12Mar2023.csv
Found in local: 361JourneyDataExtract13Mar2023-19Mar2023.csv
Found in local: 362JourneyDataExtract20Mar2023-26Mar2023.csv
Found in local: 363JourneyDataExtract27Mar2023-02Apr2023.csv
Found in local: 364JourneyDataExtract03Apr2023-09Apr2023.csv
Found in local: 365JourneyDataExtract10Apr2023-16Apr2023.csv
Found in local: 366JourneyDataExtract17Apr2023-23Apr2023.csv
Found in local: 367JourneyDataExtract24Apr2023-30Apr2023.csv
Found in local: 368JourneyDataExtract01May2023-07May2023.csv
Found in local: 369JourneyDataExtract08May2023-14May2023.csv
Found in local: 370JourneyDataExtract15May2023-21May2023.csv
Found in local: 371JourneyDataExtract22May2023-28May2023.csv
Found in local: 372JourneyDataExtract29May2023-04Jun2023.csv
Found in local: 373JourneyDataExtract05Jun2023-11Jun2023.csv
Found in local: 374JourneyDataExtract12Jun2023-18Jun2023.csv
Found in local: 375JourneyDataExtract19Jun2023-30Jun2023.csv
Found in local: 376JourneyDataExtract01Jul2023-14Jul2023.csv
Found in local: 377JourneyDataExtract15Jul2023-31Jul2023.csv
Found in local: 378JourneyDataExtract01Aug2023-14Aug2023.csv
Found in local: 378JourneyDataExtract15Aug2023-31Aug2023.csv
Found in local: 379JourneyDataExtract01Sep2023-14Sep2023.csv
Found in local: 380JourneyDataExtract15Sep2023-30Sep2023.csv
Found in local: 381JourneyDataExtract01Oct2023-14Oct2023.csv
Found in local: 382JourneyDataExtract15Oct2023-31Oct2023.csv
Found in local: 383JourneyDataExtract01Nov2023-14Nov2023.csv
Found in local: 384JourneyDataExtract15Nov2023-30Nov2023.csv
Done

## Create dataframe from journeys

In [34]:
# test flag
test_flag = 0

# load data
if test_flag == 1:
    journeys_df = pd.read_csv(os.path.join(journeys_path, source_fn[0]))

else:
    journeys_df = pd.DataFrame()
    for fn in source_fn:
        journeys_df = pd.concat([journeys_df, pd.read_csv(os.path.join(journeys_path, fn), low_memory = False)])

In [35]:
journeys_df.

(8591312, 11)

In [37]:
journeys_df.reset_index()

,index,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,0,127293434,2022-12-04 23:59,1194,"Westminster University, Marylebone",2022-12-05 00:08,300079,"London Street, Paddington",24140,CLASSIC,9m 5s,545098
1,1,127293435,2022-12-04 23:59,22169,"Wren Street, Holborn",2022-12-05 00:07,1052,"Soho Square , Soho",58765,CLASSIC,7m 32s,452636
2,2,127293433,2022-12-04 23:58,1152,"Marylebone Lane, Marylebone",2022-12-05 00:14,1182,"Notting Hill Gate Station, Notting Hill",57158,CLASSIC,15m 45s,945616
3,3,127293430,2022-12-04 23:57,200250,"Cleveland Way, Stepney",2022-12-05 00:02,200131,"Clarkson Street, Bethnal Green",55233,CLASSIC,5m 3s,303946
4,4,127293431,2022-12-04 23:57,200072,"Houndsditch, Aldgate",2022-12-05 00:01,1105,"LMU Commercial Road, Whitechapel",59082,CLASSIC,3m 15s,195554
...,...,...,...,...,...,...,...,...,...,...,...,...
8591307,361441,135600053,2023-11-15 00:01,300012,"Irene Road, Parsons Green",2023-11-15 00:06,300009,"World's End Place, West Chelsea",61134,PBSC_EBIKE,5m 0s,300231
8591308,361442,135600054,2023-11-15 00:01,1028,"William IV Street, Strand",2023-11-15 00:24,200210,"Westbridge Road, Battersea",23548,CLASSIC,22m 17s,1337181
8591309,361443,135600055,2023-11-15 00:01,1028,"William IV Street, Strand",2023-11-15 00:26,200176,"Sheepcote Lane, Battersea",54249,CLASSIC,24m 55s,1495092
8591310,361444,135600047,2023-11-15 00:00,300203,"Euston Square Gardens, Euston",2023-11-15 00:05,2686,"Royal College Street, Camden Town",57148,CLASSIC,5m 8s,308122
8591311,361445,135600048,2023-11-15 00:00,22177,"Christian Street, Whitechapel",2023-11-15 00:16,1118,"Hampton Street, Walworth",60163,PBSC_EBIKE,15m 30s,930625